:root {
  --bg-color: #f8f6e9;
  --main-color: #2863a5;
  --second-color: #656565;
  --third-color: #e56d2c;
}

@font-face {
  font-family: "Montserrat-Numbers";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat") format("woff");
  unicode-range: U+0030-0039;
}

html {
  scroll-snap-type: block mandatory;
  scroll-snap-stop: always;
  -webkit-overflow-scrolling: touch;
}

body {
  color: var(--main-color);
  background-color: var(--bg-color);
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
}

main {
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.kr {
  font-family: 'Nanum Gothic', sans-serif;
}

.kr button {
  font-family: 'Nanum Gothic', sans-serif;
}

section {
  contain: content;
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
  margin: 0;
}

.top-title-strong {
  font-family: 'East Sea Dokdo', cursive;
  margin: 0;
  font-size: 4rem;
  font-weight: 400;
}

h1,
h2 {
  font-family: 'East Sea Dokdo', cursive;
  margin: 0 0 1rem;
  font-weight: 400;
  font-size: 3.6rem;
}

.button {
  background-image: url("./assets/btn-big-blue.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: 'Zen Maru Gothic', sans-serif;
  color: #fff;
  background-color: inherit;
  border: none;
  font-size: 1.2rem;
  max-width: 200px;
  width: 100%;
  max-width: 500px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  text-decoration: none;
}

.btn-border {
  background-image: url('./assets/btn-outline.png');
  color: var(--main-color);
}

.button-s {
  background-image: url("./assets/btn-small.png");
  background-size: 100% 100%;
  color: #fff;
  background-color: inherit;
  border: none;
  width: 60px;
  font-family: 'East Sea Dokdo', cursive !important;
  font-size: 1.2rem;
}

.share-button {
  font-family: 'Zen Maru Gothic', sans-serif;
  color: var(--main-color);
  font-size: 1.2rem;
  border: none;
  outline: none;
  background: none;
}

.button-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
}

.share-icon-button {
  border-radius: 100%;
}

.button-icon-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.top {
  gap: 6%;
  position: relative;
}

.i18n {
  position: absolute;
  top: 2%;
  right: 3%;
  display: flex;
  gap: 8%;
}

.lang-button {
  user-select: none;
  font-family: 'East Sea Dokdo', cursive;
  color: var(--main-color);
  background-image: url('./assets/btn-lang.png');
  height: 40px;
  width: 40px;
  min-width: 40px;
  text-decoration: none;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-button-active {
  color: #fff;
  background-image: url('./assets/btn-lang-selected.png');
}

.top-title {
  margin: 0;
  font-size: 2rem;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.top-img {
  object-fit: cover;
  width: 20%;
  min-width: 240px;
}

.top-msg {
  font-size: 2rem;
  font-family: 'East Sea Dokdo', cursive;
}

.msg-text {
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}

.msg-img {
  width: 20vw;
  max-width: 100px;
}

.msg-expired {
  color: var(--third-color);
  font-weight: normal;
}

.event-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  margin: 0 0 0.8rem;
}

.event-text-kr {
  font-family: 'Nanum Gothic', sans-serif;
}


.event-sub {
  display: flex;
  gap: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.event-sub-title {
  width: 64px;
}

.event-sub-kr {
  font-family: 'Nanum Gothic', sans-serif;
}

.event-img {
  margin: 2rem 0;
  width: 80vw;
  max-width: 400px;
}

.event-explain {
  font-size: 1rem;
  line-height: 2rem;
  margin: 1.2rem 0;
}

.event-finish {
  font-size: 0.9rem;
}

.location-name {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.location-text {
  font-size: 1rem;
  padding-bottom: 2rem;
}

.location-old {
  font-size: 0.8rem;
}

.location-link {
  color: var(--third-color);
  margin: 0 0.4rem;
  font-size: 1rem;
}

.location-subtitle {
  box-sizing: border-box;
  display: flex;
  font-size: 1.2rem;
  text-decoration: underline;
  text-underline-offset: 6px;
  width: 100%;
}

.map {
  display: flex;
  justify-content: ceneter;
  align-items: center;
  flex-direction: column;
}

.location-explain {
  font-size: 0.8rem;
  text-align: start;
}

.contact-header {
  text-align: left;
  width: 100%;
  font-weight: 400;
  position: relative;
  font-size: 1.4rem;
}

.contact-header::after {
  content: '';
  position: absolute;
  border-top: 1.6px solid var(--main-color);
  width: 160px;
  bottom: -4px;
  left: 0;
}

.contact-name {
  width: 180px;
  font-size: 1rem;
  text-align: left;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-actions {
  display: flex;
  gap: 4px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-bottom: 48px;
  height: calc(100vh - 48px);
}

.footer-text {
  font-size: 1.2rem;
  margin-bottom: 1.4rem;
}

.footer-text-kr {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 3rem;
  margin-top: 1.8rem;
  line-height: 2.4rem;
}

.action-buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.footer-share {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.4rem;
  gap: 1rem;
}

.credit {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 1rem;
}

.tooltip {
  opacity: 0;
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  transition: opacity 0.3s ease-in-out;
}

.tooltip[data-show] {
  opacity: 1;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}